*{
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(233, 233, 233);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    max-width: 600px;
    margin-bottom: 24px;
    font-size: 2.1em;
}

.container{
    max-width: 480px;
    margin: 14px 0;
}
.container span{
    font-size: 1.2em;
}

.slider{
    -webkit-appearance: none;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(176, 170, 207);
    height: 18px;
    outline: none;
    margin-top: 8px;
}

.button-cta{
    height: 40px;
    background-color: forestgreen;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 40px;
    color: #fff;
    font-weight: 500;
    font-size: 1.1em;
}

.container-pass{
    max-width: 480px;
    margin: 14px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.title{
    text-align: center;
    font-size: 1.1em;
    margin-top: 24px;
    margin-bottom: 8px; 
}

.password{
    height: 60px;
    background-color: rgb(176, 170, 207);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.password:hover{
    transform: scale(1.05);
}

.hidden{
    display: none;
}

.container-pass:hover .tooltip{
    visibility: visible;
    bottom: 50px;
    opacity: 1;
}
